body {
  font-size: 0.75em;
}

button {
  border: none;
  background-color: #ffffff;
}
h3 {
  margin: 0;
  text-align: center;
}

.container {
  border: 1px solid #e1fdae;
  padding: 1em;
}

.header {
  display: flex;
}

.newsLink {
  margin: 10px;
}

.news {
  display: flex;
  flex-direction: column;
  width: 47.5%;
}

.bannerSmall {
  width: 20%;
}

.img_bannerSmall{
  max-width: 70%;
}

.searchContainer {
  margin: 5% 0;
}

.input_search {
  width: 70%;
}

.bannerBig {
  margin-bottom: 5%;
}

.img_bannerBig {
  display: block;
  height: 50px;

  background-color: #bbbbbb;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

li span {
  margin-right: 0.5em;
}

li span:last-child {
  margin-right: 0;
}

.weather {
  display: flex;
}

.weatherNow {
  margin-right: 1em;
}

.img_weatherNow {
  width: 1.5em;
  height: 1.5em;
  background-color: #838383;
}